  <h1>Create a new recipe</h1>
  <%= form_with model: @recipe do |f| %>
    <%= f.hidden_field :user_id, value: current_user.id %>
    <%= f.text_field :name, placeholder: 'Recipe name' %>
    <%= f.number_field :preparation_time, placeholder: 'Preparation Time (minutes)' %>
    <%= f.number_field :cooking_time, placeholder: 'Cooking Time (minutes)' %>
    <%= f.text_area :description, placeholder: 'Description', size: '50x5'%>
    <div>
      <%= f.label :public, "Public" %>
      <%= f.check_box :public %>
    </div>
    <%= f.submit "Create recipe"%>
  <% end %>
