<h1 class=""><%= @recipe.name %></h1>
<div class="">
  <h4 class="">Preparation time: <span><%= @recipe.preparation_time %> minutes</span></h4>
  <div class="">This recipe is <span class="font-bold"><%= @recipe.public ? 'public' : 'Private' %></span></div>
  <h4 class="">Cooking time: <span><%= @recipe.cooking_time %> minutes</span></h4>
</div>
<p><%= @recipe.description %></p>
