<h1>Foods#index</h1>
<p>Find me in app/views/foods/index.html.erb</p>

<button id="showFormButton">Add new food</button>

<div id="foodForm" style="display: none;">
  <%= form_with model: @food, url: foods_path, method: :post, id: 'food-form' do |f| %>
    <div>
      <%= f.label :name, 'Name:' %>
      <%= f.text_field :name, placeholder: 'Name', required: true %>
    </div>
    <div>
      <%= f.label :measurement_unit, 'Measurement Unit:' %>
      <%= f.text_field :measurement_unit, placeholder: 'Measurement Unit', required: true %>
    </div>
    <div>
      <%= f.label :price, 'Price:' %>
      <%= f.text_field :price, placeholder: 'Price', required: true, type: 'number', step: '1' %>
    </div>
    <%= f.submit 'Create Food' %>
  <% end %>
  <div id="formErrorMessage" style="color: red;"></div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    const showFormButton = document.getElementById("showFormButton");
    const foodForm = document.getElementById("foodForm");
    const formErrorMessage = document.getElementById("formErrorMessage");

    showFormButton.addEventListener("click", function() {
      foodForm.style.display = "block";
    });

    foodForm.addEventListener("submit", function(event) {
      const nameField = foodForm.querySelector("#food_name");
      const measurementUnitField = foodForm.querySelector("#food_measurement_unit");
      const priceField = foodForm.querySelector("#food_price");

      if (
        nameField.value.trim() === "" ||
        measurementUnitField.value.trim() === "" ||
        priceField.value.trim() === ""
      ) {
        event.preventDefault(); // Prevent form submission
        formErrorMessage.textContent = "Please fill in all required fields.";
      }
    });
  });
</script>

<% if @foods.present? %>
  <h2>Your Foods:</h2>
  <ul>
    <% @foods.each do |food| %>
      <li>
        <%= "#{food.name} (Measurement Unit: #{food.measurement_unit}) (Unit Price: #{food.price})" %>
        <%= link_to 'Delete', food_path(food), class: 'delete-food', data: { confirm: 'Are you sure?' } %>
      </li>
    <% end %>
  </ul>
<% end %>
