<h1>Foods#index</h1>
<p>Find me in app/views/foods/index.html.erb</p>

<%= form_with model: @food, url: foods_path, method: :post do |f| %>
  <%= f.text_field :name, placeholder: 'Name' %>
  <%= f.text_area :description, placeholder: 'Description' %>
  <%= f.text_field :other_attributes, placeholder: 'Other Attributes' %>
  <%= f.submit 'Create Food' %>
<% end %>

<% if @foods.present? %>
  <h2>Your Foods:</h2>
  <ul>
    <% @foods.each do |food| %>
      <li><%= food.name %></li>
    <% end %>
  </ul>
<% end %>
