<h1 class="text-4xl font-semibold text-center mb-10 text-blue-800">Foods</h1>
<div class="text-right">
  <button class="bg-blue-500 text-white border border-blue-600 w-30 h-10 rounded-md shadow inline text-right hover:bg-blue-600">
    <%= link_to 'Add New Food', new_food_path %>
  </button>
</div>
<table class="table-auto w-full max-w-xl mx-auto text-left mb-10 text-lg">
  <thead class="bg-gray-400">
    <tr class="h-10">
      <th class="p-4">Name</th>
      <th class="p-4">Price</th>
      <th class="p-4">Measurement unit</th>
      <th class="p-4">Actions</th>
    </tr>
  </thead>
  <tbody class="bg-gray-300">
    <% @foods.each do |food| %>
    <tr class="hover:bg-gray-400 transition duration-300 ease-in-out">
      <td class="p-4"><%= food.name %></td>
      <td class="p-4"><%= food.price %></td>
      <td class="p-4"><%= food.measurement_unit %></td>
      <td class="p-4">
        <% if can? :destroy, food %>
        <%= button_to "Delete", food_path(food.id), method: :delete, class: "bg-red-500 text-white px-2 py-1 rounded-md hover:bg-red-600" %>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
