<h1>Foods#index</h1>
<p>Find me in app/views/foods/index.html.erb</p>

<%= form_with model: @food, url: foods_path, method: :post do |f| %>
  <div>
    <%= f.label :name, 'Name:' %>
    <%= f.text_field :name, placeholder: 'Name' %>
  </div>
  <div>
    <%= f.label :measurement_unit, 'Measurement Unit:' %>
    <%= f.text_field :measurement_unit, placeholder: 'Measurement Unit' %>
  </div>
  <div>
    <%= f.label :price, 'Price:' %>
    <%= f.text_field :price, placeholder: 'Price' %>
  </div>
  <%= f.submit 'Create Food' %>
<% end %>

<% if @foods.present? %>
  <h2>Your Foods:</h2>
  <ul>
    <% @foods.each do |food| %>
      <li>
        <%= "#{food.name} (Measurement Unit: #{food.measurement_unit}) (Unit Price: #{food.price})" %>
      </li>
    <% end %>
  </ul>
<% end %>
